<div class="container m-auto m-3 p-5">
  <div class="step2 justify-content-between overflow-hidden align-items-center">
    <div class="row g-2">
      <div class="col-md-6 text-end p-0 m-0 ">
        <div class="show p-0 m-0 position-relative">
            <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 200px">
                <span class="fa fa-spinner fa-spin text-primary fs-3"></span>
            </div>
    
            <img *ngIf="!isLoading && pdfImages.length > 0"
                 [src]="pdfImages[currentPage-1]"
                 (mousedown)="onMouseDown($event)"
                 class="selectable-image" />
    
            <div *ngFor="let circle of selectionCircles[currentPage] || []"
                 class="selection-circle"
                 [ngStyle]="{
                    left: circle.x + 'px',
                    top: circle.y + 'px',
                    width: circle.radius *1.5 + 'px',
                    height: circle.radius *1.5 + 'px',
                    border: '3px solid #124261'
                  }">
            </div>

            <div *ngFor="let border of errorBorders[currentPage] || []"
            class="error-box"
            [ngStyle]="{
                top: border.y -3 + 'px',
                left: border.x -3 + 'px',
                width: border.width +10 + 'px',
                height: border.height +8 + 'px',
                borderColor: border.color
            }"
        ></div>

        <div *ngFor="let circle of detectedCircles[currentPage] || []"
        class="selection-circle"
        [ngStyle]="{
          left: circle.x + 'px',
          top: circle.y  + 'px',
          width: circle.radius *2 + 'px',
          height: circle.radius *2 + 'px',
          backgroundColor: circle.isCorrect ? 'green' : 'red'
        }">
   </div>
   
        </div>
    
        <!-- Navigation -->
        <div class="arrows d-flex justify-content-between align-items-center w-50 m-auto mt-3 text-center">
            <span role="button" (click)="goToPreviousPage()" [class.disabled]="currentErrorIndex === 0">
                <!-- <i class="fa fa-arrow-left"></i> -->
                 السابق
            </span>
            <span>{{ errorPages[currentErrorIndex] }} / {{ errorPages.length }}</span>
            <span role="button" (click)="goToNextPage()" [class.disabled]="currentErrorIndex === errorPages.length - 1">
                <!-- <i class="fa fa-arrow-right"></i> -->
                 التالي
            </span>
        </div>
    </div>
    
    
    
     
     
      <div class="col-md-5 d-none">
        <div class="content text-end ps-md-3 p-1">
          <h3 class="mb-3">نتيجة التصحيح</h3>

          <div class="hint p-2 w-100 ms-auto text-center">
            <h5>عدد الاسئلة التي تحتاج الي مراجعة : 10 اسئلة</h5>
          </div>
          <button (click)="reviewOMR()" class="btn px-5 py-2 d-block text-start mt-3">مراجعة</button>
        </div>
      </div>
      <div class="col-md-5 " >
        <div class="content text-end ps-md-3 p-1">
            <h3 class="mb-3">نتيجة التصحيح</h3>
    
            <div class="hint p-2 w-100 ms-auto text-center">
              <h5>عدد الاسئلة التي تحتاج الي مراجعة : {{ totalErrorsRemaining }} فقرة</h5>
            </div>
    
    
            <button (click)="reviewOMR()" class="btn px-5 py-2 d-inline-block me-auto text-start mt-3">النتيجة</button>
        </div>
    </div>
    

      <!-- <bu tton
        (click)="showpay()"
        type="button"
        class="sendBtn ms-1 p-2 border-0 text-white d-block me-auto mt-3"
        *ngIf="!isGlobal"
        >
        التالي
      </button> -->
      <!-- <button
        type="button"
        class="sendBtn ms-1 p-2 border-0 text-white d-block me-auto mt-3"
      >
        التالي
      </button> -->
    </div>
  </div>
</div>

<section *ngIf="ispay">
  <app-payment></app-payment>
</section>
