<app-navbar></app-navbar>

<router-outlet></router-outlet>
<app-footer></app-footer>

<div   class="whatsapp-container  position-fixed">
  <a href="https://wa.me/966597481812" target="_blank">
     <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <img src="../assets/image/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon">
  </a> 
</div>

<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="medium"
  color="#24baef"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>