.pdfUpload{
    border: 1px dashed gray;
}
label{
    font-size: 14px;
    font-weight: 400;
    color: #191C1F;
}
button{
    background-color: #115081;
}
img {
  user-select: none; /* Disable text selection */
  -webkit-user-drag: none; /* Disable drag in Webkit browsers */
  -moz-user-drag: none; /* Disable drag in Firefox */
  -ms-user-drag: none; /* Disable drag in Internet Explorer */
}


.step2{
    .show{
        width: 600px;
        height: 800px;
        // border: 1px solid #DADADA;
        position: relative;
        overflow: hidden;

        img{
          width: 600px;
          height: 800px;
          cursor: crosshair;
        }
    }
      .pagination-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      
        button {
          border: none;
          background-color: #007bff;
          color: white;
          padding: 5px 10px !important;
          cursor: pointer;
          width: 20%;
        }
      
        button[disabled] {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
      .arrows{
        background-color: #F2F4F5 ;
        border-radius: 5px;
        padding: 10px;
      }
      
}
.selection-box {
  position: absolute;
  border: 2px dashed rgba(0, 128, 255, 0.7);
  background-color: rgba(0, 128, 255, 0.2);
  pointer-events: none; /* Prevent interaction with the box */
  z-index: 10; /* Make sure the box is on top of the image */
}
.row input{
  margin-top: 12px;
}
.sendBtn{
  width: 15%;
  border-radius: 5px;
}
@media (max-width: 768px){
  .container{
    width: 100% !important;
    margin: 0px!important;
    padding: 5px !important;
  }
  .show{
    img{
      height: auto;
    }
  }
  .sendBtn{
    width: 40%;
  }
}
.load{
  font-size: 15px;
  font-weight: 700;
}