@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

*{
    font-family: "Almarai", system-ui;
    
}
body{
      background: #f5f5f5; /* soft dark white background */

}
button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }